CMS_LIBSQL_URL=libsql://studiocms-yourname.turso.io
CMS_LIBSQL_AUTH_TOKEN=eyJhbGciOiJF...3ahJpTkKDw
CMS_ENCRYPTION_KEY=
CMS_S3_PROVIDER=Cloudflare R2
CMS_S3_REGION=auto
CMS_S3_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com
CMS_S3_ACCESS_KEY_ID=your_r2_access_key
CMS_S3_SECRET_ACCESS_KEY=your_r2_secret_key
CMS_S3_BUCKET_NAME=your_bucket_name
CMS_S3_FORCE_PATH_STYLE=false
CMS_S3_PUBLIC_ENDPOINT=  # Optional: Custom public endpoint for accessing files
