<div
  class="w-full font-mono prose prose-headings:font-mono prose-p:text-black dark:prose-p:text-white prose-h2:text-black dark:prose-h2:text-white prose-a:underline-offset-4 prose-h1:text-2xl prose-a:text-black dark:prose-a:text-white prose-p:text-justify prose-img:rounded-xl prose-code:text-black dark:prose-code:text-white prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm prose-strong:text-black dark:prose-strong:text-white prose-li:text-black dark:prose-li:text-white"
>
  <slot />
</div>
