<div
  class="w-full font-mono prose prose-headings:font-mono prose-p:text-neutral-900 dark:prose-p:text-neutral-100 prose-h2:text-neutral-900 dark:prose-h2:text-neutral-100 prose-a:underline-offset-4 prose-h1:text-2xl prose-a:text-neutral-900 dark:prose-a:text-neutral-100 prose-p:text-justify prose-img:rounded-xl prose-code:text-neutral-900 dark:prose-code:text-neutral-100 prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm prose-strong:text-neutral-900 dark:prose-strong:text-neutral-100 prose-li:text-neutral-900 dark:prose-li:text-neutral-100"
>
  <slot />
</div>
